body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#home, #products-page, #payment-page {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#home img {
  display: block;
  margin: 20px auto;
}

input[type="text"], input[type="password"] {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

#products div {
  margin: 20px 0;
}

#cart div {
  margin: 10px 0;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

nav button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #4cae4c;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 5px 0;
}

footer .social-media a {
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
}
